/* UserCard.css */
.card {
    display: flex;
    justify-content: space-between;
    background-color: #2e2d4e;
    margin: 10px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
}

.card p {
    color: #fff;
    font-weight: bold;
}

.card span {
    font-weight: normal;
}

.card button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card button:hover {
    opacity: 0.5;
}